.about-header-title {
	text-align: center;
}
.about-header-subtitle {
text-align: center;
margin: 30px auto;
font-size: 1.6rem;
}
.about-big-d {
	font-size: 56px;
}
.about-big-l {
	font-size: 44px;
}
.about-page-container {
	height: 100%;
	width: 100%;
}
.about-container {
    position: relative;
    display: flex;
	flex: 1 0 50%;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
	margin: 40px 0;
}
.about-image-container {
	max-width: 700px;
	max-height: 600px;

}
.about-image-container-middle {
	max-width: 700px;
	max-height: 600px;

}
.wash-image-one {
	max-width: 700px;
	max-height: 600px;
	/* border: 2px solid black; */
	box-shadow: 15px 15px 20px 1px rgba(0, 0, 0, 0.308);
}
.about-words-top {
    margin-top: 10%;
    height: 100%;
    width: 100%;
    flex: 1 1 0;
}
h4{
	padding: 10px;
}
