.side-drawer {
	height: 100%;
	background-color: #3C6997;
	box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	left: 0;
	width: 70%;
	max-width: 300px;
	z-index: 200;
	transform: translateX(-100%);
	transition: transform 0.3s ease-out;
}

.side-drawer.open {
	transform: translateX(0);
}

.side-drawer .profile-img {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 25px;
}

.side-drawer .profile-img img {
	border-radius: 80px;
	width: 43%;
	margin: 0 auto;
}

.side-drawer .profile-img p {
	margin: 0 auto;
}

.side-drawer ul {
	height: 100%;
	list-style: none;
	display: flex;
	flex-direction: column;
}

.side-drawer li {
	margin: 0.5rem 0;
}

.side-drawer a {
	color: black;
	text-decoration: none;
	font-size: 1.2rem;
}

.side-drawer a:hover,
.side-drawer a:active {
	color: red;
}


.nav-list {
	padding: 20% 0px;
	text-align: center;
	line-height: 4em;
	font-family: 'Alata', sans-serif;
}

.menu-link {
	color: #FFDD4A;
}

.menu-link:hover {
	color: #ECA72C;
}

.menu {
	color: #5ADBFF;
	font-family: 'Alata', sans-serif;
	font-size: 19.2px;
	padding-top: 10%;

}

.round-img-go {
	animation: spin 1.5s forwards
}


@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}


}


/* 
.round-img {
	transform: rotate(190);
} */

/* .round-img {

	-webkit-animation-name: spin;
	-webkit-animation-duration: 4000ms;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation-name: spin;
	-moz-animation-duration: 4000ms;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;
	-ms-animation-name: spin;
	-ms-animation-duration: 4000ms;
	-ms-animation-iteration-count: infinite;
	-ms-animation-timing-function: linear;

	animation-name: spin;
	animation-duration: 4000ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear; */
/* } */