.homepage {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.homepage h1 {
	margin: 0 auto;
}

.homepage-searchbar {
	display: flex;
	align-items: center;
	width: 400px;
	height: 100px;
	margin: 0 auto;
}

.homepage-searchbar input {
	border: 2px solid rgba(128, 128, 128, 0.146);
	border-right: none;
	height: 61px;
	width: 96%;
	font-size: 35px;
	font-weight: 400;
}

.homepage-searchbar {
	height: 38px;
	width: 30%;
	margin: 25px auto;
	font-size: 25px;
	text-align: center;
	display: flex;
	justify-content: center;
}
.homepage-searchbar .button-search {
	height: 61px;
	width: 80px;
	padding: 4px;
	border-left: none;
	border-radius: 0 5px 5px 0px;
}
.homepage .slider {
	margin: 0 auto;
	margin-bottom: 50px;
}

.most-reviewed-title {
	margin: 0 auto;
}
.recently-reviewed-header {
	text-align: center;
}
.homepage .most-reviewed {
	display: flex;
	justify-content: space-between;
}

.top-rated-rests {
	display: flex;
	flex-direction: row;
	flex-flow: wrap;
	justify-content: center;
	margin: 20px auto;
}

.title {
	font-family: "Alata", sans-serif;
	color: #eca72c;
}

@media only screen and (max-width: 768px) {
	.homepage-searchbar {
		width: 87%;
	}

	.nav-items {
		display: none;
	}
}

@media only screen and (max-width: 375px) {
	.homepage-searchbar {
		width: 100%;
	}

	.homepage-searchbar button {
		width: 35%;
	}
}

@media only screen and (max-width: 320px) {
	.homepage-searchbar button {
		width: 44%;
	}
}
