.navbar-navigation {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	padding: 0 30px;
	background-color: #FFDD4A;
	height: 50px;
	align-items: center;
}

nav .navbar {
	display: flex;
}

nav .logo {
	margin-left: 2rem;
}

.spacer {
	flex: 1;
}

.navbar-navigation ul {
	display: flex;
	padding: 0px;
	margin: 0 40px;
}

.navbar-navigation li {
	list-style: none;
	display: flex;
	margin: 0 20px;
}

.navbar-navigation a {
	text-decoration: none;
	color: #094074
}