.navbar-navigation {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	padding: 0 30px;
	background-color: #ffdd4a;
	height: 50px;
	align-items: center;
	z-index: 10;
	box-shadow: 1px 0px 5px 0px;
}

nav .navbar {
	display: flex;
}

nav .logo {
	margin-left: 2rem;
	letter-spacing: 2px;
}

nav .logo a {
	margin-right: 7px;
}

.logo .bold-one,
.logo .bold-two {
	font-weight: bolder;
	font-size: 1rem;
}

.logo .bold-one {
	margin-left: 10px;
}

.spacer {
	flex: 1;
}

.navbar-navigation ul {
	display: flex;
	padding: 0px;
	margin: 0 40px;
}

.navbar-navigation li {
	list-style: none;
	display: flex;
	margin: 0 20px;
}

.navbar-navigation a {
	text-decoration: none;
	color: #094074;
}