.d-block {
	height: 500px;
	object-fit: cover;
}
.carousel-control-next-icon,
.carousel-control-previous-icon {
	display: none;
}

@media only screen and (max-width: 685px) {
	.w-100,
	.carousel-inner {
		height: 283px;
	}
}
@media only screen and (max-width: 420px) {
	.w-100,
	.carousel-inner {
		height: 232px;
	}
	.main-container {
		padding: 10px 0;
	}
}
